# Jupyter
.ipynb_checkpoints/


# Scratch / backups
BACKUP*.ipynb
SCRATCH*.ipynb
*_BACKUP*.ipynb
*BAK*

# Docs & writeups
*.docx
Writeup/
PAPERS/

# Python junk
__pycache__/
*.pyc

# Misc
.DS_Store
.idea
.claude

# Scratchwork
SCRATCHWORK/


